body {
     background-color: #FFFFFF;
     margin: 0;
     padding: 0;
     border: 0;
}

.name {
     display: grid;
     grid-template-columns: 10% auto 10%;
     grid-template-rows: 1fr;
     color: #000000;
     size: 2em; 
}

.job {
     display: grid;
     grid-template-columns: 10% auto 10%;
     grid-template-rows: 1fr;
     color: #000000;
}

.bottomhalf {
     display: flex;
     flex-flow: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-items: center;
}
.social {
     display: flex;

}

.shibe {
     size: 100px 100px;
}