body {
     background-color: #FFFFFF;
     font-size: toDo;
}

.name {
     grid-template-columns: auto;
     grid-template-rows: auto;
     display: grid;
     color: #000000;
     size: toDo;
}

.job {
     display: grid;
     color: #000000;
}

.social {
     display: grid; 
}