body {
     background-color: #FFFFFF;
     margin: 0;
     padding: 0;
     border: 0;
}

.name {
     grid-template-columns: 10% auto 10%;
     grid-template-rows: 32% auto 48%;
     display: grid;
     color: #000000;
     size: 2em; 
}

.job {
     display: grid;
     color: #000000;
}

.social {
     display: grid; 
}